<div class="profile">
  <h1><%= @user.username %></h1>

  <div class="games">
    <h2>Curent Games</h2>
    <div class="grid">
      <%### ongoing games displayed graphically on a grid %>
      <% @games.reject(&:complete?).each do |game|%>
        <div class="board">
          <% game.cells.each do |cell| %>
            <% if cell == "1" %>
              <div class="cell">
                <img src="/images/x.svg">
              </div>
            <% elsif cell == "2" %>
              <div class="cell">
                <img src="/images/o.svg">
              </div>
            <% else %>
              <div class="cell">
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <%###%>
    </div>
  </div>

  <div class="stats">
    <h2>K/D Ratio: <%= @kd_ratio %>
    </h2>
    <div class="roster">
      <h2>Opponents</h2>
      <ul>
        <% @opponents.each do |user| %>
          <li>
            <a href="/users/<%= user.slug %>">

              <span><%= user.username %></span>

              <span>Wins: <%=
                  user.lost_games.select{|game| game.players.include?(@user)}.size%> / Losses: <%=
                  user.won_games.select{|game| game.players.include?(@user)}.size%>
              </span>

            </a>
          </li>
        <% end %>
      </ul>
  </div>

</div>