<h1><%= @user.username %></h1>

<% if @user == current_user %>

  <div class="invites">
    <h2>Invites</h2>

    <% if @user.visible_invites.any? %>
      <form method="post" action="/games" id="accept_invite"></form>
      <ul class="roster">
      <% @user.visible_invites.each do |invite| %>
        <li class="bar">

          <span><%= invite.sender.username %></span>
          <button form="accept_invite" type="submit" name="invite_id" value="<%=invite.id%>">Play!</button>

          <form method="post" action="/invites" id="ignore_invite">
            <input type="hidden" id="hidden" name="_method" value="patch">
          </form>
          <button form="ignore_invite" type="submit" name="invite_id" value="<%=invite.id%>">Ignore</button>

        </li>
      <% end %>
      </ul>
    <% end %>

    <% if @user.sent_invites.any? %>
      <form method="post" id="withdraw_invite">
        <input type="hidden" id="hidden" name="_method" value="delete">
      </form>

      <ul class="roster">
      <% @user.sent_invites.each do |invite| %>
        <li class="bar">
          <span>Waiting on <%= invite.receiver.username %></span>
          <button form="withdraw_invite" type="submit" formaction="/invites/<%=invite.id%>">Withdraw</button>
        </li>
      <% end %>
      </ul>
    <% end %>

  </div>

<% end %><%# end exclusion for spectators %>

<div class="games">
  <h2>Current Games</h2>
  <div class="grid">
    <%################################################# %>
    <%### ongoing games displayed graphically on a grid %>
    <% @user.games.reject(&:complete?).each do |game|%>
      <a class="board" href="/games/<%= game.id %>">
        <% game.cells.each do |cell| %>
          <% if cell == "1" %>
            <div class="cell">
              <img src="/images/x.svg">
            </div>
          <% elsif cell == "2" %>
            <div class="cell">
              <img src="/images/o.svg">
            </div>
          <% else %>
            <div class="cell">
            </div>
          <% end %>
        <% end %>
      </a>
    <% end %>
    <%### end games grid %>
    <%################## %>
  </div>
</div>



<div class="stats">
  <h2>Game History</h2>
  <h3>Play/Loss Ratio: <%= @user.play_loss_ratio %></h3>

  <ul class="roster">
    <li class="legend bar">
      <span>Opponent</span>
      <span>/</span>
      <span>Results</span>
    </li>

    <li class="bar">
      <span>Computer</span>
      <span>Wins: <%= @user.wins_vs_computer %> / Losses: <%= @user.losses_vs_computer %></span>
    </li>

    <% @user.opponents.each do |user| %>
      <li>
        <a class="bar" href="/users/<%= user.slug %>">

          <span><%= user.username %></span>

          <span>Wins: <%= @user.wins_against(user) %> / Losses: <%= @user.losses_against(user) %></span>

        </a>
      </li>
    <% end %>
  </ul>

</div>