<div class="wrapper">

  <%# wrap board in form tags for current player %>
  <% if @game.current_player == current_user %>
    <% unless @game.vs_computer? && @game.current_player_token == '1' %>
      <form method="post">
        <input type="hidden" id="hidden" name="_method" value="patch">
    <% end %>
  <% end %>
  <%#%>

    <div class="board">

      <% @game.cells.each_with_index do |cell, cell_index| %>

        <% if cell == "1" %>

          <div class="cell">
            <img src="/images/x.svg">
          </div>

        <% elsif cell == "2" %>

          <div class="cell">
            <img src="/images/o.svg">
          </div>

        <% else %>

          <%# display blank empty cell by default %>
          <div class="cell">
            <%# display interactive empty cells for current player %>
            <% if @game.current_player == current_user %>
              <% unless @game.vs_computer? && @game.current_player_token == '1' %>
                <input type="image"
                  src="/images/<%= @game.current_player_token == '1' ? 'x' : 'o' %>.svg"
                  formaction="/games/<%=@game.id%>/<%=cell_index%>">
              <% end %>
            <% end %>
            <%#%>
          </div>
          <%#%>

        <% end %>

      <% end %>

    </div> <%# END BOARD %>

  <%#%>
  <% if @game.current_player == current_user %>
      <div class="bar">
        <input type="submit" value="Surrender" formaction="/games/<%= @game.id %>/surrender">
      </div>

    <% unless @game.vs_computer? && @game.current_player_token == '1' %>
      </form>
    <% end %>
  <% end %>
  <%# wrap board in form tags for current player %>


  <% unless @game.current_player == current_user  %>
    <%# add surrender button for players of the game %>
    <%# do not display duplicate button if current player == current user %>
    <% if @game.players.include?(current_user) %>
      <form class="bar" method="post" action="/games/<%= @game.id %>/surrender">
        <input type="hidden" id="hidden" name="_method" value="patch">
        <input type="submit" value="Surrender">
      </form>
    <% end %>
  <% end %>

  <% if @game.vs_computer? %>
    <div class="title bar">
  <% else %>
    <a class="title bar" href="/users/<%= @game.player_1.slug %>">
  <% end %>

    <span>Player 1: <%= @game.vs_computer? ? 'Computer' : @game.player_1.username %></span>

  </<%= @game.vs_computer? ? 'div' : 'a' %>>

  <a class="title bar" href="/users/<%= @game.player_2.slug %>">
    <span>Player 2: <%= @game.player_2.username %></span>
  </a>

  <% if @game.complete? %>

    <% if @game.won? %>

      <div class="title bar">
        <span>Winner: <%= @game.winner.nil? ? 'Computer' : @game.winner.username %></span>
      </div>

      <div class="title bar">
        <span>Loser: <%= @game.loser.nil? ? 'Computer' : @game.loser.username %></span>
      </div>

    <% else %>

      <div class="title bar">
        <span>Tie Game!</span>
      </div>

    <% end %>

  <% end %>


</div>