<div class="wrapper">



  <%####################### %>
  <%### display game status %>
  <div class="game_status">

    <% if @game.won? %>
      <div class="message bar"><span>Winner: <%= @game.winner.nil? ? 'Computer' : @game.winner.username %>!</span></div>

    <% elsif @game.tie? %>
      <div class="message bar"><span>Tie Game!</span></div>

    <% elsif @game.current_player == current_user %>
      <div class="message bar"><span>Your Turn!</span></div>

    <% elsif @game.players.include?(current_user) %>
      <% unless @game.vs_computer? %>
        <div class="bar">
          <span>Waiting on <%= @game.players.detect{|user| user != current_user}.username %></span>
        </div>
      <% end %>

    <% else %>
      <div class="bar">
        <span><%= @game.current_player.nil? ? 'Computer' : @game.current_player.username %>'s Turn</span>
      </div>

    <% end %>



    <%########################## %>
    <%### display forfeit button %>
    <% unless @game.complete? %>
      <% if @game.current_player == current_user %>
        <%### if current player == current user,  %>
        <%### attach forfeit button to board form %>
        <div class="bar">
          <button form="game_input" type="submit"
          name="input" value="forfeit"
          formaction="/games/<%= @game.id %>">Forfeit Game</button>
        </div>
      <% elsif @game.players.include?(current_user) %>
        <%### else place it in its own form %>
        <form  class="bar" method="post" action="/games/<%= @game.id %>">
          <input type="hidden" id="hidden" name="_method" value="patch">

          <button type="submit" name="input" value="forfeit"
          formaction="/games/<%= @game.id %>">Forfeit Game</button>
        </form>
      <% end %>
    <% end %>

  </div>
  <%### display game status %>
  <%####################### %>



  <%########################## %>
  <%# BEGIN GAME BOARD SECTION %>
  <div class="game_board">

    <%############################################## %>
    <%### wrap board in form tags for current player %>
    <% if @game.current_player == current_user %>
      <form id="game_input" method="post">
        <input type="hidden" id="hidden" name="_method" value="patch">
    <% end %>
    <%### %>
    <%### %>

    <div class="board"><%# BEGIN BOARD %>

      <% @game.cells.each_with_index do |cell, cell_index| %>

        <% if cell == "1" %>
          <div class="cell">
            <img src="/images/x.svg">
          </div>
        <% elsif cell == "2" %>
          <div class="cell">
            <img src="/images/o.svg">
          </div>
        <% else %>

          <%####################################### %>
          <%### display blank empty cell by default %>
          <div class="cell">

            <%###################################################### %>
            <%### display interactive empty cells for current player %>
            <% if @game.current_player == current_user %>
              <button class="<%= @game.current_token %>_token"
                type="submit" name="input[cell]" value="<%= cell_index %>"
                formaction="/games/<%=@game.id%>"></button>
            <% end %>
            <%### %>

          </div>
          <%### %>

        <% end %>
      <% end %>

    </div>
    <%# END BOARD %>
    <%########### %>

    <%### %>
    <% if @game.current_player == current_user %>
      </form>
    <% end %>
    <%### wrap board in form tags for current player %>
    <%############################################## %>

  </div>
  <%# END GAME BOARD SECTION %>
  <%######################## %>



  <%################### %>
  <%### BEGIN GAME INFO %>
  <div class="game_info">

    <%################ %>
    <%### list players %>
    <% if @game.vs_computer? %>
      <div class="bar">
        <span>Player 1: Computer</span>
      </div>
    <% else %>
      <a class="bar" href="/users/<%= @game.player_1.slug %>">
        <span>Player 1: <%= @game.player_1.username %></span>
      </a>
    <% end %>

    <a class="bar" href="/users/<%= @game.player_2.slug %>">
      <span>Player 2: <%= @game.player_2.username %></span>
    </a>
    <%### list players %>
    <%################ %>

  </div>
  <%### END GAME INFO %>
  <%################# %>







</div>